<div class="card">
  <h3>Add a book to the catalogue</h3>
  <div id="">
    <form action="/new/book" method="post">
      <label for="bookTitle">Enter the book's title</label>
      <input type="text" name="bookTitle" class="form-control">
      <label for="bookAuthor">Enter the book's author</label>
      <input type="text" name="bookAuthor" class="form-control">
      <br>
      <button type="submit" class="button btn">Add it!</button>
    </form>
  </div>
</div>
